/* body {
    background-color: #011212;
}

.ball {
    width: 100px;
    height: 100px;
    background-color: #ff8800;
    border-radius: 50px;
} */

:root {
    --color-bcg: #011212;
    --item-bcg: #ff8800;
    --item-w-h: 100px;
}

body {
    background-color: var(--color-bcg);
}

.ball {
    width: var(--item-w-h);
    height: var(--item-w-h);
    background-color: var(--item-bcg);
    border-radius: calc(var(--item-w-h) / 2);
}