html body {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    gap: 1.5em;
}

#green {
    grid-area: 4 / 2 / 5 / 5;
}

#orange {
    grid-area: 2 / 2 / 3 / 5;
}

#yellow {
    grid-area: 1 / 1 / 2 / 5;
}

#red {
    grid-area: 3 / 2 / 4 / 5;
}

#blue {
    grid-area: 2 / 1 / 5 / 2;
}

ul {
    display: flex;
}

#red ul {
    flex-direction: row-reverse;
}

li {
    flex-grow: 1;
}

#yellow ul li:nth-child(1) {
    flex-grow: 3;
}