body {
	font-family: monospace;
}

#expand-toggle {
	display: none;
}

.expandable {
	visibility: collapse;
	background: gray;
	color: white;
}

#expand-btn {
	display: inline-block;
	margin-top: 12px;
	padding: 6px 12px;
	background-color: #ff8888;
	border: 2px solid rgba(179, 178, 178, 0.521);
	border-radius: 9px;
	transition: 0.3s;
	position: relative;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.699)
} 

#expand-toggle:checked ~ * .expandable {
	visibility: visible;
}

#expand-toggle:checked ~ #expand-btn::after {
	position: absolute;
	content: "Nascondi righe";
	display: inline-block;
	white-space: pre;
	padding: 8px;
	left: -5px;
	bottom: -5px;
	background-color: #88ff88;
	border: 2px solid rgba(179, 178, 178, 0.521);
	border-radius: 9px;
	transition: 0.3s;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 5px 5px 10px rgba(48, 45, 45, 0.699);
}