:root {
    --gap: 2.5em;
    --calc-hgt-gap: calc((100vh - (var(--gap) * 2)) / 3);
}

html body {
    width: 100vw;
    margin: 0 0;
    display: grid;
    gap: var(--gap);
    height: 100vh;
    grid-template-rows: repeat(3, var(--calc-hgt-gap));
    grid-template-areas:
        "g g g"
        "y o r"
        "y b r";
}

body section {
    margin: 0;
}

#green {
    grid-area: g;
}

#orange {
    grid-area: o;
}

#yellow {
    grid-area: y;
}

#red {
    grid-area: r;
}

#blue {
    grid-area: b;
}